<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="RegressionOnChrome">
	  <parameter name="type" value="chrome"></parameter>
    <classes>
      <class name="test.SwagLabLoginTestPage"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="RegressionOnEdge">
  <parameter name="type" value="edge"></parameter>
  <classes>
	  <class name="test.SwagLabLoginTestPage"/>
  </classes>
  </test>
  
</suite> <!-- Suite -->
